<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kalbum - Reset password</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../../assets/css/styles.css"/>
    <noscript>
        <link rel="stylesheet" href="../../assets/css/noscript.css"/>
    </noscript>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
    <section id="noscript">
        <p>This application requires JavaScript to be enabled.</p>
    </section>

    <section id="resetPassword">
        <h1>Reset password</h1>
        <p>Please enter your e-mail and the passphrase that you will use for updating your password.</p>
        <form>
            <input type="hidden" name="token" id="token" value="${token}"/>
            <fieldset>
                <legend>Reset password</legend>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email"/>
                <label for="passphrase">Passphrase</label>
                <input type="text" name="passphrase" id="passphrase"/>
                <button type="submit" id="submitButton">Reset password</button>
            </fieldset>
        </form>
        <div id="passwordError" class="error hide"></div>
        <div id="confirmPasswordError" class="error hide"></div>
    </section>
</div>



<script src="../../assets/js/resetpassword.js"></script>
</body>